.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.573) !important;
    transition: all 0.4s linear;
}

.card-body{
    padding: 2rem !important;
    font-size: 1rem;
}

.card-text{
    padding: 0.3rem 1rem !important;
}
.card{
    border: none !important;
}
.overflow1{
    overflow: hidden;
}

.card-img-top{
    transition: all 0.2s ease-in-out;
}

.card-img-top:hover{
    transform: scale(1.3);

}
.row{
    padding: 10px 10px 10px 10px;
}